*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background: #f0f2f5;
  font-family: 'Sora', sans-serif;

}

.container{
  width: min(90vw, 800px);
  margin: auto;

}

h2{
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: #3500af;
  max-width: normal;
}

header{
  background: #5723ce;
  padding: 5rem 0 10rem;
  text-align: center;
}

#logo{
  color: #f2f2f2;
  font-weight: 300;
}

#balance{
  margin-top: -8rem;

}

#balance h2{
  color: #f2f2f2;
  margin-top: 0;
}

footer{
  background: #5723ce;
  padding: 2rem;
  text-align: center;
}

footer p{
  color: #f2f2f2;
  font-weight: 100;
}